.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    color: #7B68EE;
    border-bottom: 1px solid #7B68EE;
    font-weight: bold;
    font-size: 3rem;
}