.main {
    height: 100%;
    background-color: var(--main-color);
}

.contents {
    display: flex;
    margin-top: 7rem;
    justify-content: center;
}

.input {
    height: 2rem;
    width: 30rem;
    margin-bottom: 1rem;
}

.label {
    color: #7B68EE;
    font-size: 1.3rem;
    font-weight: bold;
}